:root {
    --text-color: #44AAEE;
    --white-color: #FFF;
    --text-hover: #44EEAA
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #F3F3F3;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: var(--white-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    width: 100%;
    max-width: 768px;
    background: var(--white-color);
    border: 1px solid #ccc;
    margin-top: 25px;
}

.list .item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.list .item:last-of-type {
    border-bottom: none;
}

.list .item:hover {
    background: rgba(0, 0, 0, 0.5);
}

.pagenumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagenumbers button {
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    margin: 5px;
    transition: 0.4s;
    font-size: 18px;
    border: none;
    appearance: none;
    background-color: var(--text-color);
    color: var(--white-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
    background: var(--text-hover);
}

.pagenumbers button.active {
    background: var(--text-hover);
    box-shadow: inset 0px 0px 4px rgb(0, 0, 0, 0.2);
}